.signup-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.signup {
  height: 40vh;
  background-color: #e4e8f4;
  color: #000;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  text-align: center;
  line-height: 1.3;
}
.signup h1 {
  font-weight: 700;
}
.signup p {
  opacity: 0.8;
}
.signup button {
  background-color: #0e5881;
  color: #fff;
  font-size: 1.2rem;
  border: 0;
  border-radius: 2rem;
  width: 100%;
  padding: 0.7rem 1rem;
  cursor: pointer;
  margin-top: 3rem;
}
